
<div class="slider-wrapper">
  <div id="slideshow" class="nivoSlider">


            <img src=<%= asset_path('slider/slider1.jpg')%> >
            <img src=<%= asset_path('slider/slider2.jpeg')%> >
            <img src=<%= asset_path('slider/slider3.jpeg')%> >
        </div>

    </div>
  <script type="text/javascript">
      $(document).ready(function() {
          $('#slideshow').nivoSlider();});
  </script>
  <aside class="rightsidebar">

 <article>
            <h2>پایان نامه های دکتری</h2>
            <ul class="list">
                <li><a href="#" title="پایان نامه های دفاع آماده ">پایان نامه های آماده دفاع </a></li>
                <li><a href="#" title="پایان نامه های در حال اجرا">پایان نامه های در حال اجرا</a></li>
                <li><a href="#" title="پایان نامه های تصویب شده">پایان نامه های تصویب شده</a></li>
                
            </ul>
        </article>    
    </aside>
    <aside class="middlesidebar">
        <article>
            <h2>پایان نامه های کارشناسی ارشد</h2>
            <ul class="list">
              <li><a href="#" target="_blank" title=" پایان نامه های آماده دفاع"">پایان نامه های آماده دفاع </a></li>
                <li><a href="#" target="_blank" title="پایان نامه های در حال اجرا">پایان نامه های در حال اجرا</a></li>
                <li><a href="#" target="_blank" title="پایان نامه های تصویب شده">پایان نامه های تصویب شده</a></li>
                
            </ul>
        </article>
    </aside>
    <aside class="leftsidebar">
        <article>
            <h2>سامانه های الکترونیکی</h2>
            <ul class="list">
                <li><a href="#" target="_blank" title="سامانه انتخاب واحد و اعلام نمرات">سامانه انتخاب واحد و اعلام نمرات</a></li>
                <li><a href="#" target="_blank" title="سامانه برید">سامانه برید</a></li>
                
                <li><a href="#" target="_blank" title="مجلات علمی و پژوهشی">مجلات علمی و پژوهشی</a></li>
                
            </ul>
        </article>
    </aside>
    <aside class="newssidebar">
        <article>
          <!--
            <h2>اخبار و اطلاعیه ها</h2>
            <p class="post-info"><a href="#">آرشیو خبرها...</a><p>
                <marquee onmouseover="this.stop();" onmouseout="this.start();" direction="up" scrolldelay="2" scrollamount="1">
                    <div class="bodynews">
            <p>
                    <img src=<%# asset_path('news1.jpg')%> >
                خبر اول : .................................................................................
            </p>
            </div>
            <div class="bodynews">
                <p>
                    <img src=<%# asset_path('news2.jpg')%> >
                   خبر دوم : .................................................................................
                </p>
            </div>
            <div class="bodynews">
                <p>
                    <img src=<%# asset_path('news3.jpg')%> >
                    خبر سوم : .................................................................................
                </p>
            </div>
            </marquee>
            -->
          <h2>  اخبار و اطلاعیه ها  </h2>
            <div class="simple-ticker" id="js-ticker-fade">
              <ul>
                <% @news.each do |news|%>
                    <li><%= news.description%></li>
              <% end %>
              </ul>
            </div>
        </article>
    </aside>



    <footer class="mainfooter">
        <div class="footerl"><img src=<%= asset_path('footer-simple.png')%>> <br>حق نشر <a href="#">دانشگاه آزاد اسلامي</a></div>
        <!--   <div class="gotop"><a href="#top">بالا</a></div>   -->
    </footer>
