
    <div class="slider-wrapper">
        <div id="slideshow" class="nivoSlider">
            <img src=<%= asset_path('slider/slider1.jpg')%> title="سامانه انتخاب واحد و اعلام نمرات سامانه اساتید نقل و انتقالات دانشجویی دفتر ارتباط با صنعت">
            <img src=<%= asset_path('slider/slider2.jpeg')%> title=" كارآموزي امور پایان نامه ها مشترکین اینترنت اتوماسيون اداري کارکنان و هیئت علمی مجلات علمی و پژوهشی سيستم جامع معاونت پژوهشي">
            <img src=<%= asset_path('slider/slider3.jpg')%> title="دانشگاه آزاد اسلامی ">
        </div>
    </div>
    <script type="text/javascript">
  $(document).ready(function() {
  $('#slideshow').nivoSlider();});
    </script>

    <aside class="rightsidebar">
 <article>
            <h2>پایان نامه های دکتری</h2>
            <ul class="list">
                <li><a href="#" title="پایان نامه های دفاع آماده ">پایان نامه های آماده دفاع </a></li>
                <li><a href="#" title="پایان نامه های در حال اجرا">پایان نامه های در حال اجرا</a></li>
                <li><a href="#" title="پایان نامه های تصویب شده">پایان نامه های تصویب شده</a></li>
                <!-- <li><a href="#" title="معاونت فرهنگي">معاونت فرهنگي</a></li>
                <li><a href="#" title="معاونت دانشجويي">معاونت دانشجويي</a></li>
                <li><a href="#" title="معاونت اداري و مالي">معاونت اداري و مالي</a></li>
                <li><a href="#" title="معاونت عمراني">معاونت عمراني</a></li>
                <li><a href="#" title="معاونت پزشكي">معاونت پزشكي</a></li>
                <li><a href="#" title="معاونت مدارس سماء">معاونت مدارس سماء</a></li>    -->
            </ul>
        </article>    
    </aside>
    <aside class="middlesidebar">
        <article>
            <h2>پایان نامه های کارشناسی ارشد</h2>
            <ul class="list">
                <li><a href="#" target="_blank" title="پایان نامه های دفاع آماده ">پایان نامه های دفاع آماده </a></li>
                <li><a href="#" target="_blank" title="پایان نامه های در حال اجرا">پایان نامه های در حال اجرا</a></li>
                <li><a href="#" target="_blank" title="پایان نامه های تصویب شده">پایان نامه های تصویب شده</a></li>
                <!-- <li><a href="#" target="_blank" title="دانشکده مهندسی مواد">گروه معماری</a></li>
                <li><a href="#" target="_blank" title="دانشکده مهندسی عمران">گروه تربیت بدنی</a></li>
                <li><a href="#" target="_blank" title="دانشکده مهندسی هسته ای و علوم پایه">گروه برق</a></li>
                <li><a href="#" target="_blank" title="دانشکده مهندسی هسته ای و علوم پایه">گروه کامپیوتر</a></li>
                <li><a href="#" target="_blank" title="دانشکده پزشکی">گروه مدیریت</a></li>
                <li><a href="#" target="_blank" title="دانشکده هنر ، معماری و شهرسازی">گروه زبان</a></li>   -->
            </ul>
        </article>
    </aside>
    <aside class="leftsidebar">
        <article>
            <h2>سامانه های الکترونیکی</h2>
            <ul class="list">
                <li><a href="#" target="_blank" title="نقل و انتقالات دانشجویی">سامانه انتخاب واحد و اعلام نمرات</a></li>  
                <li><a href="#" target="_blank" title="ثبت نام دانشجویان جدیدالورود">سامانه برید</a></li>
                <!-- <li><a href="#" target="_blank" title="افزایش اعتبار اشتراک اینترنت">نقل و انتقالات دانشجویی</a></li>
                <li><a href="#" target="_blank" title="دفتر ارتباط با صنعت - كارآموزي">دفتر ارتباط با صنعت - كارآموزي</a></li>
                <li><a href="#" target="_blank" title="امور پایان نامه ها">امور پایان نامه ها</a></li>
                <li><a href="#" target="_blank" title="مشترکین اینترنت">مشترکین اینترنت</a></li>
                <li><a href="#" target="_blank" title="اتوماسيون اداري">اتوماسيون اداري</a></li>
                <li><a href="#" target="_blank" title="کارکنان و هیئت علمی">کارکنان و هیئت علمی</a></li>   -->
                <li><a href="#" target="_blank" title="مجلات علمی و پژوهشی">مجلات علمی و پژوهشی</a></li>
                <!-- <li><a href="#" target="_blank" title="سيستم جامع معاونت پژوهشي">سيستم جامع معاونت پژوهشي</a></li>   -->
            </ul>
        </article>
    </aside>
    <aside class="newssidebar">
        <article>
            <h2>اخبار و اطلاعیه ها</h2>
            <p class="post-info"><a href="#">آرشیو خبرها...</a><p>
                <marquee onmouseover="this.stop();" onmouseout="this.start();" direction="up" scrolldelay="1" scrollamount="1">
                    <div class="bodynews">
            <p>
                <img src=<%= asset_path('news1.jpg')%> >
                سامانه انتخاب واحد و اعلام نمرات سامانه اساتید نقل و انتقالات دانشجویی دفتر ارتباط با صنعت - كارآموزي امور پایان نامه ها مشترکین اینترنت اتوماسيون اداري کارکنان و هیئت علمی مجلات علمی و پژوهشی سيستم جامع معاونت پژوهشي
            </p>
            </div>
            <div class="bodynews">
                <p>
                    <img src=<%= asset_path('news2.jpg')%> >
                    سامانه انتخاب واحد و اعلام نمرات سامانه اساتید نقل و انتقالات دانشجویی دفتر ارتباط با صنعت - كارآموزي امور پایان نامه ها مشترکین اینترنت اتوماسيون اداري کارکنان و هیئت علمی مجلات علمی و پژوهشی سيستم جامع معاونت پژوهشي
                </p>
            </div>
            <div class="bodynews">
                <p>
                    <img src=<%= asset_path('news3.jpg')%> >
                    سامانه انتخاب واحد و اعلام نمرات سامانه اساتید نقل و انتقالات دانشجویی دفتر ارتباط با صنعت - كارآموزي امور پایان نامه ها مشترکین اینترنت اتوماسيون اداري کارکنان و هیئت علمی مجلات علمی و پژوهشی سيستم جامع معاونت پژوهشي
                </p>
            </div>
            </marquee>
        </article>
    </aside>
    <aside class="content">
        <article>
            <div id="box">
               <!--  <ul id="menu">
                    <li style="border-right:none;"><a href="#amoozsh">آموزش</a></li>
                    <li><a href="#daneshjoii">امور دانشجویی</a></li>
                    <li><a href="#shahrie">شهریه</a></li>
                    <li><a href="#sabtenam">ثبت نام</a></li>
                    <li><a href="#emtehanat">امتحانات</a></li>
                    <li><a href="#faregh">فارغ التحصیلان</a></li>
                    <li><a href="#pajohesh">پژوهش</a></li>
                    <li><a href="#farhangi">امور فرهنگی</a></li>
                    <li><a href="#karasatid">اساتید</a></li>
                </ul>
                <ul id="boxes">
                    <li id="amoozsh" class="box">
                        <p>آموزش</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                    </li>
                    <li id="daneshjoii" class="box">
                        <p>دانشجویی</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                    </li>
                    <li id="shahrie" class="box">
                        <p>شهریه</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                    </li>
                    <li id="sabtenam" class="box">
                        <p> ثبت نام </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                    </li>
                    <li id="emtehanat" class="box">
                        <p> امتحانات </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                    </li>
                    <li id="faregh" class="box">
                        <p> فارغ التحصیلان </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                    </li>
                    <li id="pajohesh" class="box">
                        <p> پژوهش </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                    </li>
                    <li id="farhangi" class="box">
                        <p> فرهنگی </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                    </li>
                    <li id="karasatid" class="box">
                        <p> کارگزینی اساتید </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                    </li>
                </ul>  -->
            </div>
        </article>
    </aside>
    <footer class="mainfooter">
        <div class="footerl"><img src=<%= asset_path('footer-simple.png')%>> <br>حق نشر <a href="#">دانشگاه آزاد اسلامي</a></div>
        <!--   <div class="gotop"><a href="#top">بالا</a></div>   -->
    </footer>
