<!DOCTYPE html>

<div class="container">
<table class="maintable">
  <% i=0 %>
  <% @faculty_members.in_groups_of(2).each do |group| %>
  	<tr>
      <% group.each do |faculty_member| %>
      <td>
      	 <div class="facultypic">
           <%= link_to :controller => 'faculty', :action => 'infotab', :name => faculty_member.latin_name do %>
               <%= image_tag faculty_member.image_path%>
            <% end %>
      	 </div>
      	 <div class="infobox">
      	 	<table class="innertable">
      	 		<tr>
      	 			<td>نام و نام خانوادگی:</td>
					<td>	<%= faculty_member.first_name %> &nbsp <%= faculty_member.last_name %>  </td>
				</tr>
				<tr>
					<td>پست الکترونیکی:</td>
					<td>  <%=  (faculty_member.email != nil) ?  faculty_member.email : '-' %> </td>
				</tr>
				<tr>
					<td>شماره تماس:</td>
					<td> <%=  (faculty_member.phone != nil) ? faculty.faculty_member.phone : '-' %> </td>
				</tr>
	        </table>
	 </div>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
